.contact-whole-wrapper {
  position: relative;
  z-index: 0;
  display: grid;
  place-items: center;
  width: 100%;
  background: url(../assets/contact-top.svg);
  background-size: cover;
  padding-top: clamp(6rem, calc(10% + 2vw), 9rem);
  padding-bottom: 3rem;

  h1 {
    position: absolute;
    top: 0.75em;
    color: white;
    // letter-spacing: 0.195rem;
    font-weight: bold;
    font-size: clamp(1.5rem, calc(1.5rem + 3vw), 3rem);
    padding: 0.5rem 0em;
    text-shadow: 1px 1px $primary-color, -1px -1px black;
    font-family: "Lobster", cursive;
  }
  .form-wrapper {
    background: linear-gradient(to right,black,#413f3f);
    display: flex;
    justify-content: space-around;
    // align-items:center;
    padding: calc(2rem - 1vw) 2rem;
    width: clamp(13rem, 85%, 30em);
    aspect-ratio: 4/5;
    flex-flow: column nowrap;
    color: white;
    margin-top: calc(4rem - 4vw);
    border-radius: 0.8rem;
    // box-shadow: 1px 1px white, -1px -1px purple;
    div {
      position: relative;
      margin-top: clamp(0.5rem, calc(0.5rem + 2vw), 2rem);
      span{
        position: absolute;
        top:56%;
        left: -10%;
        
      }
    }
    label {
      display: inline-flex;
      width: 100%;
      font-size: clamp(1rem, calc(0.5rem + 2vw), 1.3rem);
      // margin-top: 2em;
    }
    input {
      height: clamp(2.3rem, calc(2rem + 2vw), 3rem);
      padding-left: 0.5em;
    }
    input,
    textarea {
      width: 90%;
      border-radius: 5px;
      font-size: clamp(1rem, calc(0.5rem + 2vw), 1.3rem);
      color: black;
      outline:none;
      transition:0.1s all ease-in-out;
      &:focus{
        outline: none;
        box-shadow: 10px 0px 5px gray;
      }
      
    }
    
    textarea {
      padding:0.5em 0 0 0.5em;
      height: clamp(5rem, calc(3rem + 1vw), 6rem);
    }
    .button-wrapper {
      display: grid;
      place-items: center;
    }
    button::before {
      content: "";
      position: absolute;
      clip-path: circle(0em at 0% 0%);
      height: 4rem;
      width: clamp(10rem, calc(4rem + 3vw), 12rem);
      background: $primary-color;
      transition: all 0.5s ease-in-out;
      // transform: translateX(0%);
      z-index: 1;
      top: 0;
      left: 0;
    }
    button {
      position: relative;
      //   border:1px solid aqua;
      height: 3.5rem;
      width: clamp(10rem, calc(4rem + 3vw), 12rem);
      overflow: hidden;
      border-radius: 0.8rem;
      color: black;
      background: #33d383;
      transition:0.3s ease-in all;

      div {
        position: relative;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        margin: 0;
        font-size: clamp(0.8rem, calc(0.9rem + 1vw), 1.7rem);
        padding: 0.5rem 2rem;
      }
    }
    button:hover::before {
      clip-path: circle(14em at 0% 0%);
    }
    button:hover {
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px black;
    }
  }
  .contact-details-wrapper {
    position: relative;
    border-radius: 50%;
    width: clamp(74%, calc(50% + 10vw),20rem);
    aspect-ratio: 1;
    background-image: url(../assets/blurry-gradient-haikei.png);
    background-size: cover;
    margin-top: clamp(2rem, calc(1.5rem + 2vw), 3rem);
    display:grid;
    place-items:center;
    color:white;
    grid-template-rows:repeat(7,1fr);
    .app-logos{
      position: relative;
      width: 60%;
      display: flex;
      justify-content: space-around;
      grid-row: 2/3;
      span{
        font-size: clamp(2.5rem, calc(1rem + 2vw), 2.5rem);
        transition: 0.1s all ease-in-out;
        &:hover{
          color:$primary-color;
        }
      }
    }
    .contact-details{
      grid-row:4/6;
      display: flex;
      flex-flow: nowrap;
      flex-direction: column;
      span{
        font-size: clamp(1.5rem, calc(1rem + 2vw), 2.5rem);
      }
      li{
        list-style: none;
      }
      em{
        font-size:clamp(1rem,calc(1rem + 1vw),2rem);

      }
    }
    
    
  }
}
@media screen and (min-width: 1000px) {
  .contact-whole-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .form-wrapper {
    width: 35rem;
  }
}
