.copyright-wrapper{
    position: relative;
    height:4rem;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
    background-color: rgb(29, 27, 27);
    color:$primary-color;
    font-size: 1.5rem;    
    display: grid;
    place-items: center;
    
}